doctype html
html(lang="en")
	include ./inc/head.jade

body.tk-proxima-nova
	label(for="toggle-1")
	input(type="checkbox" id="toggle-1")
	#background
		.close
		p.tk-proxima-nova The Danish define
			br
			| enough as &ldquo;nok&rdquo;.
			br
			br
			| Which is precisely
			br
			| what nok is.
			br
			br
			| No more.
	#paper
		#paper-front
			.hamburger
				span
			
			.mark
				img(src="img/mark.svg", alt="")
				h2.tk-proxima-nova says hello.
			h1.tk-proxima-nova 1 The seemingly impossible, small 
				strike wallet
				|  nok.
			.nok-side
				p *actual size
			.slide-wrapper
				.slider
					img(src="img/one.jpg", alt="")
					img(src="img/two.jpg", alt="")
					img(src="img/three.jpg", alt="")
					img(src="img/four.jpg", alt="")
					img(src="img/five.jpg", alt="")
					img(src="img/six.jpg", alt="")
			
				
			.feature-wrapper
				.features
					h2.tk-proxima-nova Features
			.order-nok
				button#customButton.tk-proxima-nova order nok $8
