extends ./src/templates/includes/base.jade

block header
  h1#title= "nok"
  nav#main-nav
    ul
      li: a(href='#')= 'thing 1'
      li: a(href='#')= 'thing 2'
      li: a(href='#')= 'thing 3'
      li: a(href='#')= 'thing 4'
      li: a(href='#')= 'thing 5'

block main
  h2= "subhead"

block footer
  nav#foot-nav
    ul
      li: a(href='#')= 'thing 1'
      li: a(href='#')= 'thing 2'
      li: a(href='#')= 'thing 3'
      li: a(href='#')= 'thing 4'
      li: a(href='#')= 'thing 5'
  
