.order-nok
  background-color: $client-black
  min-height: rem(300)
  padding-top: rem(85)
  button
    +size(400px 140px)
    margin: 0 auto
    display: block
    background-color: $client-white

    font-size: rem(40)
    color: $client-black
    font-weight: 900
    line-height: 1.4em
    margin-bottom: 0
    text-align: center
