doctype html

html
  head
    link(rel="stylesheet", type="text/css", href="main.css")
    block title
      title= "nok"

  body
    header#header
      block header
    main#main
      block main
    footer#footer
      block footer
        
    block scripts    
    
